@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Fluent
@model IEnumerable<admin.Models.OrderOrdering>

@{
    ViewData["Title"] = "Index";
}

@section Styles{
    <link href='~/css/OrderOrderingsTable.css' rel="stylesheet">
}

<h1>訂單詳細資訊</h1>

<p>
    <a class="btn btn-warning" asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm())
{
    <p>
        商品名稱: @Html.TextBox("SearchString")  
        <input type="submit" value="Search" /></p>
}
<div class="table-responsive"> 
<table class="table table-hover" style="table-layout:fixed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.商品id快照)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.子項id快照)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.商品名稱快照)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.子項名稱快照)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.商品主圖快照)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.子項獨立編號)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.長快照)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.寬快照)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.高快照)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.啟用日期)*@
                 @Html.ActionLink("啟用日期", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.停用日期)*@
                 @Html.ActionLink("停用日期", "Index", new { sortOrder =  ViewBag.EndSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.商品郵遞區號快照)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.商品地址快照)
            </th>
          @*  <th>
                @Html.DisplayNameFor(model => model.Is買方取消)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Is賣方取消)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.訂單)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="content">
                @Html.DisplayFor(modelItem => item.商品id快照)
            </td>
           <td class="content">
                @Html.DisplayFor(modelItem => item.子項id快照)
            </td>
             <td class="content">
                @Html.DisplayFor(modelItem => item.商品名稱快照)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.子項名稱快照)
            </td>
          @*  <td>
                @Html.DisplayFor(modelItem => item.商品主圖快照)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.子項獨立編號)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.長快照)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.寬快照)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.高快照)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.啟用日期)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.停用日期)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.商品郵遞區號快照)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.商品地址快照)
            </td>
          @*  <td>
                @Html.DisplayFor(modelItem => item.Is買方取消)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is賣方取消)
            </td>*@
           @* <td>
                @Html.DisplayFor(modelItem => item.訂單.訂單id)
            </td>*@
            <td>
                <a class="btn btn-success"  asp-action="Edit" asp-route-id="@item.No">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.No">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.No">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


</div>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))