@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Fluent
@model IEnumerable<admin.Models.Sub>

@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <link href='~/css/SubsTable.css' rel="stylesheet">
}


<h1>商品詳細資訊</h1>

<p>
    <a class="btn btn-warning" asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm())
{
    <p>
       商品名稱&單價: @Html.TextBox("SearchString")  
        <input type="submit" value="Search" /></p>
}
<div class="table-responsive">
<table class="table table-hover" style="table-layout:fixed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.子項名稱)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.子項主圖)
            </th>*@
            <th >
                @Html.DisplayNameFor(model => model.子項簡述)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.子項數量)
            </th>
            <th>
             @*   @Html.DisplayNameFor(model => model.子項單價)*@
                 @Html.ActionLink("子項單價", "Index", new { sortOrder = ViewBag.PriceSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.長)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.寬)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.高)
            </th>
            <th>
              @*  @Html.DisplayNameFor(model => model.創建時間)*@
                 @Html.ActionLink("註冊時間", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
        @*    <th>
                @Html.DisplayNameFor(model => model.Is啟用)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Is刪除)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.商品)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          <td style="width:100px">
                @Html.DisplayFor(modelItem => item.子項名稱)
            </td>
          @*  <td class="content">
               @Html.DisplayFor(modelItem => item.子項主圖)

            </td>*@
             <td class="content">
                @Html.DisplayFor(modelItem => item.子項簡述)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.子項數量)個
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.子項單價)元
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.長)cm
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.寬)cm
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.高)cm
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.創建時間)
            </td>
        @*    <td>
                @Html.DisplayFor(modelItem => item.Is啟用)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is刪除)
            </td>*@
            <td  >
                @Html.DisplayFor(modelItem => item.商品id)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.子項id">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.子項id">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.子項id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>